# ndtilecache wsgi 
upstream ndtilecache-wsgi {
  server unix:///run/uwsgi/app/ndtilecache/socket;
}

# place the following block in your server clause
server {
  
  ...
  
  location /ndtilecache/ {
    error_log     /var/log/nginx/error.log notice;
    rewrite_log   on;
    rewrite       /ndtilecache/(.*)$ /tilecache/$1 break;
    uwsgi_pass    ndtilecache-wsgi;
    include       /etc/nginx/uwsgi_params;
  }

  ...

}
