# ndtilecache wsgi 
upstream ndtilecache-wsgi {
  server unix:///run/uwsgi/app/ndtilecache/socket;
}

# place the following block in your server clause
server {
  
  ...
  
  location /ndtilecache/ {
    error_log     /var/log/nginx/error.log notice;
    rewrite_log   on;
    rewrite       /ndtilecache/(.*)$ /tilecache/$1 break;
    uwsgi_pass    ndtilecache-wsgi;
    include       /etc/nginx/uwsgi_params;
  }

  ...

}

worker_connections auto;
multi_accept on;
worker_processes 4;

client_max_body_size 2048M;
client_body_buffer_size 4M;

uwsgi_send_timeout 480;
uwsgi_read_timeout 480;

keep_alive_timeout 180;
