
# ocptilecache wsgi 
upstream ocptilecache-wsgi {
  server unix:///run/uwsgi/app/ocptilecache/socket;
}

# place the following block in your server clause
server {

  location /ocptilecache/ {
    error_log /var/log/nginx/error.log notice;
    rewrite_log on;
    rewrite /ocptilecache/(.*)$ /tilecache/$1 break;
    uwsgi_pass  ocptilecache-wsgi;
    include     /etc/nginx/uwsgi_params;
  }

}

