
# ocpcatmaid wsgi 
upstream ocpcatmaid-wsgi {
  server unix:///run/uwsgi/app/ocpcatmaid/socket;
}

# place the following block in your server clause
server {

  location /ocpcatmaid/ {
    error_log /var/log/nginx/error.log notice;
    rewrite_log on;
    rewrite /ocpcatmaid/(.*)$ /tilecache/$1 break;
    uwsgi_pass  ocpcatmaid-wsgi;
    include     /etc/nginx/uwsgi_params;
  }

}

